<h1>Chapter 2 | Data Exercise #1 | <code>hotels-europe</code>: Data Preparation</h1>

<p>1. Use the <code>hotels-europe</code> data for another city (not Vienna).</p>
<p>Assignments</p>
<ul>
    <li>Load and clean the data.</li>
    <li>Document the cleaning.</li>
    <li>Describe the clean dataset.</li>
    <li>Look at the raw data and make it into tidy data.</li>
</ul>

<h2><b>1.</b> Load the data</h2>

In [2]:
import os
import sys
import warnings
import pandas as pd

warnings.filterwarnings("ignore")

# Set pandas options to display 500 rows as max
pd.set_option("display.max_rows", 500)

In [7]:
# Current script folder
current_path = os.getcwd()
dirname = current_path.split("da_data_exercises")[0]

# Get location folders
data_in = f"{dirname}da_data_repo/hotels-europe/"
data_out = f"{dirname}da_data_exercises/ch02-preparing_data_for_analysis/data/"
output = f"{dirname}da_data_exercises/ch02-preparing_data_for_analysis/data/output/"
func = f"{dirname}da_case_studies/ch00-tech_prep/"
sys.path.append(func)

In [8]:
# import the prewrriten helper functions
from py_helper_functions import *

<p>Ok. We can emulate the example on <code>hotels-vienna</code> to see if we can get the same result with any particular city in Europe. First, let's get hold of the raw dataset, which contains all hotel ratings in Europe. We will use <b>London</b> as our target city for this exercise.</p>

In [9]:
# Set raw data working directory
data_in_raw = f"{data_in}raw/"

In [10]:
data = pd.read_csv(f"{data_in_raw}hotelbookingdata.csv")
data.head()

,addresscountryname,city_actual,rating_reviewcount,center1distance,center1label,center2distance,center2label,neighbourhood,price,price_night,...,accommodationtype,guestreviewsrating,scarce_room,hotel_id,offer,offer_cat,year,month,weekend,holiday
0,Netherlands,Amsterdam,1030.0,3.1 miles,City centre,3.6 miles,Montelbaanstoren,Amsterdam,172,price for 1 night,...,_ACCOM_TYPE@Hotel,4.3 /5,0,1.0,0,0% no offer,2017,11,1,0
1,Netherlands,Amsterdam,1030.0,3.1 miles,City centre,3.6 miles,Montelbaanstoren,Amsterdam,122,price for 1 night,...,_ACCOM_TYPE@Hotel,4.3 /5,0,1.0,1,15-50% offer,2018,1,1,0
2,Netherlands,Amsterdam,1030.0,3.1 miles,City centre,3.6 miles,Montelbaanstoren,Amsterdam,122,price for 1 night,...,_ACCOM_TYPE@Hotel,4.3 /5,0,1.0,1,15-50% offer,2017,12,0,1
3,Netherlands,Amsterdam,1030.0,3.1 miles,City centre,3.6 miles,Montelbaanstoren,Amsterdam,552,price for 4 nights,...,_ACCOM_TYPE@Hotel,4.3 /5,0,1.0,1,1-15% offer,2017,12,0,1
4,Netherlands,Amsterdam,1030.0,3.1 miles,City centre,3.6 miles,Montelbaanstoren,Amsterdam,122,price for 1 night,...,_ACCOM_TYPE@Hotel,4.3 /5,0,1.0,1,15-50% offer,2018,2,1,0

<p>Now, our first step is to check the cities available in the dataset. We can get a list of them using <code>.unique()</code>:

In [13]:
data["city_actual"].unique()

array(['Amsterdam', 'Badhoevedorp', 'Diemen', 'Halfweg', 'Hoofddorp',
       'Lijnden', 'Duivendrecht', 'Schiphol', 'Schiphol-Rijk',
       'Zwanenburg', 'Acharnes', 'Athens', 'Agia Paraskevi', 'Alimos',
       'Glyfada', 'Vari-Voula-Vouliagmeni', 'Elliniko-Argyroupoli',
       'Palaio Faliro', 'Saronikos', 'Lavreotiki', 'Chaidari',
       'Chalandri', 'Dionysos', 'Elefsina', 'Kallithea', 'Kifisia',
       'Lykovrysi-Pefki', 'Mandra-Eidyllia', 'Marathon',
       'Markopoulo Mesogaias', 'Marousi', 'Megara', 'Metamorfosi',
       'Moschato-Tavros', 'Nea Smirni', 'Oropos', 'Pallini', 'Piraeus',
       'Rafina-Pikermi', 'Salamis', 'Spata-Artemida', 'Barcelona',
       'Castelldefels', 'Cornella de Llobregat', 'El Prat de Llobregat',
       'Esplugues de Llobregat', 'Gava', 'barcelona',
       'L\\u0027Hospitalet de Llobregat', 'Molins de Rei',
       'Sant Adria de Besos', 'Sant Joan Despi', 'Sant Just Desvern',
       'Belgrade', 'Berlin', 'Schoenefeld', 'Birmingham', 'Walsall',
       'Brierley Hill', 'Coventry', 'Dudley', 'Kingswinford', 'Oldbury',
       'Solihull', 'Stourbridge', 'Sutton Coldfield', 'Tamworth',
       'West Bromwich', 'Wolverhampton', 'Bratislava', 'Cunovo',
       'Dunajska Streda', 'Lozorno', 'Malacky', 'Marianka', 'Modra',
       'Pezinok', 'Rusovce', 'Senec', 'Vrakun', 'Brussels', 'Zaventem',
       'Drogenbos', 'Grimbergen', 'Machelen', 'Sint-Pieters-Leeuw',
       'Vilvoorde', 'Bucharest', 'Otopeni', 'Snagov', 'Budapest',
       'Vecses', 'Copenhagen', 'Gentofte', 'Kongens Lyngby', 'Herlev',
       'Naerum', 'Soborg', 'Skodsborg', 'Hellerup', 'Charlottenlund',
       'Vedbaek', 'Hoje Taastrup', 'Albertslund', 'Glostrup', 'Hvidovre',
       'Ballerup', 'Brondby', 'Dragor', 'Frederiksberg', 'Kastrup',
       'Dublin', 'Saggart', 'Lucan', 'Dun Laoghaire', 'Swords', 'Konavle',
       'Dubrovnik', 'Kolocep Island', 'Lopud Island', 'Zupa dubrovacka',
       'Glasgow', 'Hamburg', 'Espoo', 'Helsinki', 'Vantaa', 'Istanbul',
       'Eyup', 'ISTANBUL', 'istanbul', 'Boryspil', 'Brovary', 'Kiev',
       'Irpin', 'Khodosivka', 'Kozyn',
       'Petropavlivs\\u0027ka Borshchahivkna', 'Pidhirtsi', 'Andrychow',
       'Krakow', 'Brzeznica', 'Dabrowa Tarnowska', 'Dobczyce',
       'Lanckorona', 'Makow Podhalanski', 'Michalowice', 'Myslenice',
       'Niepolomice', 'Nowe Brzesko', 'Oswiecim', 'Raclawice', 'Rzezawa',
       'Tarnow', 'Trzebinia', 'Wadowice', 'Wieliczka', 'Wielka Wies',
       'Zabierzow', 'Lisbon', 'Almada', 'Amadora', 'Cascais', 'Estoril',
       'Loures', 'Oeiras', 'Seixal', 'Sintra', 'London', 'Croydon',
       'Hayes', 'Hounslow', 'Ilford', 'Isleworth', 'Feltham', 'Brentford',
       'Richmond', 'Slough', 'Southall', 'Staines', 'Newham',
       'Twickenham', 'Wembley', 'West Drayton', 'Woodford Green',
       'Bessenay', 'Beynost', 'Caluire-et-Cuire', 'Chaponnay',
       'Chassagny', 'Chasse-sur-Rhone', 'Saint-Quentin-Fallavier',
       'Civrieux-d\\u0027Azergues', 'Colombier-Saugnieu', 'Corbas',
       'Ecully', 'Genas', 'Bron', 'Lyon', 'Saint-Priest', 'Chassieu',
       'lyon', 'Givors', 'Meyzieu', 'Decines-Charpieu', 'Vaulx-en-Velin',
       'Sathonay-Camp', 'Collonges-au-Mont-d\\u0027Or', 'Dardilly',
       'Limonest', 'La Tour-de-Salvagny', 'Saint-Cyr-au-Mont-d\\u0027Or',
       'Lissieu', 'Oullins', 'Pierre-Benite', 'Brignais',
       'Saint-Genis-Laval', 'Irigny', 'Sainte-Foy-les-Lyon', 'Solaize',
       'Feyzin', 'Vourles', 'Tassin-la-Demi-Lune',
       'Charbonnieres-les-Bains', 'Craponne', 'Marcy-l\\u0027Etoile',
       'Grenay', 'Jonage', 'Jons', 'La Boisse',
       'Lyon Saint-Exupery Airport', 'Massieux', 'Mornant', 'Nievroz',
       'Quincieux', 'Saint-Bonnet-de-Mure', 'Saint-Fons',
       'Saint-Germain-sur-l\\u0027Arbresle',
       'Saint-Laurent-de-Chamousset', 'Saint-Laurent-de-Mure',
       'Saint-Maurice-de-Beynost', 'Saint-Pierre-de-Chandieu',
       'Saint-Pierre-la-Palud', 'Villeurbanne', 'Venissieux', 'Madrid',
       'Alcala De Henares', 'Alcala de Henares', 'Alcobendas',
       'Arganda del Rey', 'madrid', 'Fuenlabrada', 'Coslada', 'Getafe',
       'Las Rozas de Madrid', 'Leganes', 'Majadahonda',
       'Mejorada del Campo', 'Mostoles', 'Alcorcon',
       'Paracuellos De Jarama', 'Pinto', 'Pozuelo De Alarcon',
       'Pozuelo de Alarcon', 'Rivas-Vaciamadrid',
       'San Fernando de Henares', 'San Sebastian de los Reyes',
       'Torrejon De Ardoz', 'Torrejon de Ardoz', 'Torrelodones',
       'Velilla de San Antonio', 'Allauch', 'Aubagne', 'Bandol',
       'Marseille', 'Bouc-Bel-Air', 'Cabries', 'Cassis', 'Gemenos',
       'La Cadiere-d\\u0027Azur', 'La Ciotat', 'La Penne-sur-Huveaune',
       'Le Castellet', 'Le Rove', 'Les Pennes-Mirabeau', 'Marignane',
       'Plan-de-Cuques', 'Saint-Cyr-sur-Mer', 'Saint-Victoret',
       'Septemes-les-Vallons', 'Vitrolles', 'Abbiategrasso',
       'Agrate Brianza', 'Arcore', 'Arsago Seprio', 'Assago', 'Basiglio',
       'Bernate Ticino', 'Binasco', 'Boffalora Sopra Ticino', 'Milan',
       'Brugherio', 'Burago di Molgora', 'Buscate', 'Busto Arsizio',
       'Cambiago', 'Caponago', 'Carate Brianza', 'Cardano Al Campo',
       'Cardano al Campo', 'Carpiano', 'Carugate', 'Casarile',
       'Casorate Sempione', 'Cassano d\\u0027Adda', 'Castellanza',
       'Cavenago di Brianza', 'Cernusco sul Naviglio', 'Cerro Maggiore',
       'Cesano Boscone', 'Cesano Maderno', 'Cologno Monzese',
       'Concorezzo', 'Corsico', 'Cuggiono', 'Cusago', 'Cusago (Mi)',
       'Fagnano Olona', 'Fara Gera d\\u0027Adda', 'Ferno', 'Arluno',
       'Rho', 'Ossona', 'Settimo Milanese', 'San Vittore Olona',
       'Pregnana Milanese', 'Saronno', 'Lainate', 'Parabiago', 'Bareggio',
       'Nerviano', 'Novate Milanese', 'Baranzate', 'Gerenzano',
       'Cornaredo', 'Pero', 'Garbagnate Milanese', 'Limbiate', 'Cesate',
       'Bollate', 'Arese', 'Gaggiano', 'Gallarate', 'Giussano',
       'Gorgonzola', 'Legnano', 'Lomazzo', 'Lonate Pozzolo', 'Magenta',
       'Mediglia', 'Melzo', 'Milano', 'Monza', 'Mozzate',
       'Sesto San Giovanni', 'Lissone', 'Bresso', 'Cinisello Balsamo',
       'Cormano', 'Desio', 'Muggio', 'Paderno Dugnano', 'Varedo',
       'Oleggio', 'Olgiate Olona', 'Opera', 'Ornago', 'Ozzero',
       'Peschiera Borromeo', 'Pieve Emanuele', 'Rosate', 'Rozzano',
       'Samarate', 'San Donato Milanese', 'San Giuliano Milanese',
       'Segrate', 'Settala', 'Seveso', 'Solbiate Olona', 'Somma Lombardo',
       'Trezzano Sul Naviglio', 'Trezzano sul Naviglio',
       'Trezzo sull\\u0027Adda', 'Tribiano', 'Truccazzano', 'Turate',
       'Vanzaghello', 'Vaprio D\\u0027adda', 'Vedano al Lambro',
       'Vergiate', 'Vermezzo', 'Villa Cortese', 'Vimercate', 'Vimodrone',
       'Vizzola Ticino', 'Minsk', 'Moscow', 'Angelovo', 'Balashikha',
       'Barvikha', 'Borets', 'Denezhnikovo', 'Domodedovo', 'Gribki',
       'Grigorchikovo', 'Kartmazovo', 'Khimki', 'Kolychevo', 'Korolev',
       'Kotelniki', 'Krasnogorsk', 'Lobnya', 'Losino-Petrovsky', 'Mamyri',
       'Molokovo', 'Mytishchi', 'Odintsovo', 'Podolsk', 'Povedniki',
       'Putilkovo', 'Rasskazovka', 'Romashkovo', 'Rumyantsevo',
       'Shchelkovo', 'Snegiri', 'Vnukovo', 'Yudino', 'Munich', 'Aschheim',
       'Eching', 'Erding', 'Fahrenzhausen', 'Freising', 'Garching',
       'Haar', 'Hallbergmoos', 'Ismaning', 'MÃƒÂ¼nchen', 'Feldkirchen',
       'Kirchheim by Munich', 'Neufahrn bei Freising', 'Oberding',
       'Oberschleissheim', 'Pliening', 'Unterfoehring', 'Unterhaching',
       'Unterschleissheim', 'Vaterstetten', 'Afragola', 'Arzano',
       'Bacoli', 'Calvizzano', 'Casalnuovo di Napoli', 'Casavatore',
       'Casoria', 'Castello di Cisterna', 'Cercola', 'Ercolano', 'Naples',
       'Giugliano in Campania', 'Napoli', 'naples', 'Melito Di Napoli',
       'Melito di Napoli', 'Monte di Procida', 'Mugnano Di Napoli',
       'Pomigliano D\\u0027arco', 'Portici', 'Pozzuoli', 'Qualiano',
       'Quarto', 'Sant\\u0027Anastasia', 'Somma Vesuviana', 'Villaricca',
       'Volla', 'Nicosia', 'Antony', 'Paris', 'Clichy', 'Argenteuil',
       'Asnieres-sur-Seine', 'Athis-Mons', 'Aubervilliers',
       'Aulnay-sous-Bois', 'Bagneux', 'Bagnolet', 'Charenton-le-Pont',
       'Bezons', 'Bobigny', 'Bois-Colombes', 'Bondy',
       'Bonneuil-en-France', 'Boulogne-Billancourt', 'Bourg-la-Reine',
       'Champigny-sur-Marne', 'Chatenay-Malabry', 'Chatillon',
       'Chevilly-Larue', 'Chilly-Mazarin', 'Clamart', 'Colombes',
       'Vitry-sur-Seine', 'Alfortville', 'Saint-Maur-des-Fosses',
       'Joinville-le-Pont', 'Ivry-sur-Seine', 'Villejuif', 'Creteil',
       'Gentilly', 'Maisons-Alfort', 'Cachan', 'Bonneuil-sur-Marne',
       'Le Kremlin-Bicetre', 'Choisy-le-Roi', 'Saint-Maurice',
       'Sucy-en-Brie', 'Arcueil', 'Boissy-Saint-Leger', 'Drancy', 'Dugny',
       'Elancourt', 'Epinay-sur-Orge', 'Fleury-Merogis',
       'Fontenay-aux-Roses', 'Fresnes', 'Issy-les-Moulineaux', 'Vanves',
       'Gennevilliers', 'Gonesse', 'Herblay', 'La Courneuve',
       'Courbevoie', 'Neuilly-sur-Seine', 'Rueil-Malmaison', 'Nanterre',
       'Puteaux', 'Suresnes', 'La Garenne-Colombes', 'Le Blanc-Mesnil',
       'Le Bourget', 'Le Mesnil-Amelot', 'Le Plessis-Robinson',
       'Le Pre-Saint-Gervais', 'Le Thillay', 'Levallois-Perret',
       'Livry-Gargan', 'Maffliers', 'Magny-les-Hameaux', 'Malakoff',
       'Massy', 'Mauregard', 'Mery-sur-Oise', 'Meudon', 'Mitry-Mory',
       'paris', 'Montreuil', 'Montrouge', 'Morangis', 'Noisy-le-Grand',
       'Noisy-le-Sec', 'Orly', 'Le Chesnay', 'Versailles', 'Chaville',
       'Ville-d\\u0027Avray', 'Pantin', 'Paray-Vieille-Poste',
       'Quincy-sous-Senart', 'Roissy-en-France', 'Rosny-sous-Bois',
       'Rungis', 'Saclay', 'Saint-Brice-sous-Foret', 'Saint-Cloud',
       'Saint-Cyr-l\\u0027Ecole', 'Saint-Denis', 'Saint-Ouen', 'Sevran',
       'Sevres', 'Stains', 'Trappes', 'Tremblay-en-France',
       'Velizy-Villacoublay', 'Vigneux-sur-Seine',
       'Villeneuve-Saint-Georges', 'Villeneuve-la-Garenne', 'Villepinte',
       'Neuilly-Plaisance', 'Vincennes', 'Le Perreux-sur-Marne',
       'Saint-Mande', 'Nogent-sur-Marne', 'Fontenay-sous-Bois',
       'Bry-sur-Marne', 'Prague', 'Prague 5', 'Adazi', 'Riga', 'Jurmala',
       'Rome', 'Roma', 'Ciampino', 'ROMA', 'Fiumicino', 'Fiumicino (RM)',
       'ROME', 'Bergambacht', 'Capelle Aan de Ijssel', 'Rotterdam',
       'rotterdam', 'Dordrecht', 'Brielle', 'Oostvoorne', 'Gorinchem',
       'Gouda', 'Hellevoetsluis', 'Ridderkerk', 'Pernis', 'Barendrecht',
       'Zwijndrecht', 'Lekkerkerk', 'Maasland', 'Meerkerk',
       'Nieuwerkerk aan den IJssel', 'Numansdorp', 'Ouddorp',
       'Papendrecht', 'Rockanje', 'Schiedam', 'Spijkenisse',
       'Vlaardingen', 'Abtenau', 'Adnet', 'Altenmarkt im Pongau',
       'Salzburg', 'Anif', 'Annaberg-Lungoetz', 'Anthering',
       'Bad Gastein', 'Bad Hofgastein', 'Bergheim',
       'Bruck an der Grossglocknerstrasse', 'Dorfgastein', 'Elixhausen',
       'Eugendorf', 'Filzmoos', 'Flachau',
       'Fusch an der Grossglocknerstrasse', 'Fuschl am See',
       'Hof bei Salzburg', 'Hof Bei Salzburg', 'Golling an der Salzach',
       'Groedig', 'Grossarl', 'Grossgmain', 'Hallein', 'Hallwang',
       'Hollersbach im Pinzgau', 'Kaprun', 'Kleinarl', 'Koppl', 'Leogang',
       'Lofer', 'Maria Alm am Steinernen Meer', 'Mittersill',
       'Muehlbach Am Hochkoenig', 'Niedernsill', 'Piesendorf',
       'Puch bei Hallein', 'Radstadt', 'Rauris',
       'Russbach am Pass Gschuett', 'Saalbach-Hinterglemm',
       'Saalfelden am Steinernen Meer', 'Sankt Johann im Pongau',
       'Sankt Martin am Tennengebirge', 'Sankt Michael im Lungau',
       'Stuhlfelden', 'Unken', 'Untertauern', 'Uttendorf', 'Vigaun',
       'Wagrain', 'Wals-Siezenheim', 'Werfenweng', 'St. Gilgen',
       'Zell Am See', 'Zell am See', 'Samara', 'Seville', 'Sofia',
       'Pravets', 'St. Petersburg', 'St Petersburg', 'Aleksandrovskaya',
       'Avistriyskaya Derevnya', 'Kolpino', 'Petergof', 'Pushkin',
       'Sashino', 'Strelna', 'Yam-Izhora', 'Alvsjo', 'Arlanda',
       'Arlandastad', 'Arsta', 'Bromma', 'Danderyd', 'Enskede',
       'Stockholm', 'Hagersten', 'Huddinge', 'Jarfalla', 'Johanneshov',
       'Kista', 'Kungens Kurva', 'Lidingo', 'Marsta', 'Nacka', 'Norsborg',
       'Rosersberg', 'Saltsjobaden', 'Sigtuna', 'Skarholmen',
       'Sollentuna', 'Solna', 'Spanga', 'Sundbyberg', 'Taby',
       'Upplands Vasby', 'Vallingby', 'Tallinn', 'Laagri', 'Valletta',
       'Vienna', 'Fischamend', 'Wien', 'Schwechat', 'Voesendorf',
       'Vilnius', 'Trakai', 'Warsaw', 'Jozefow', 'Mory', 'Oltarzew',
       'Ozarow Mazowiecki', 'Piaseczno', 'Piastow', 'Pruszkow', 'Raszyn',
       'Zagreb'], dtype=object)

<p>Ok. Just to make sure, let's use <code>.unique()</code> together with <code>in</code> to check if there are any observations with "London" in the variable <code>"city_actual"</code>

In [16]:
"London" in data["city_actual"].unique()

True

<p>Great. Now, we can filter our dataset and keep only observations for acommodations in London:</p>

In [20]:
df = data.loc[data["city_actual"] == "London"]
df.head()

,addresscountryname,city_actual,rating_reviewcount,center1distance,center1label,center2distance,center2label,neighbourhood,price,price_night,...,accommodationtype,guestreviewsrating,scarce_room,hotel_id,offer,offer_cat,year,month,weekend,holiday
52159,United Kingdom,London,161.0,6.5 miles,City centre,9.3 miles,Wimbledon Park Underground Station,Blackheath,515,price for 4 nights,...,_ACCOM_TYPE@Hotel,4 /5,0,7164.0,0,0% no offer,2017,12,0,1
52160,United Kingdom,London,161.0,6.5 miles,City centre,9.3 miles,Wimbledon Park Underground Station,Blackheath,147,price for 1 night,...,_ACCOM_TYPE@Hotel,4 /5,0,7164.0,0,0% no offer,2018,6,1,0
52161,United Kingdom,London,161.0,6.5 miles,City centre,9.3 miles,Wimbledon Park Underground Station,Blackheath,124,price for 1 night,...,_ACCOM_TYPE@Hotel,4 /5,0,7164.0,0,0% no offer,2018,3,1,0
52162,United Kingdom,London,161.0,6.5 miles,City centre,9.3 miles,Wimbledon Park Underground Station,Blackheath,135,price for 1 night,...,_ACCOM_TYPE@Hotel,4 /5,0,7164.0,0,0% no offer,2018,4,1,0
52163,United Kingdom,London,161.0,6.5 miles,City centre,9.3 miles,Wimbledon Park Underground Station,Blackheath,128,price for 1 night,...,_ACCOM_TYPE@Hotel,4 /5,0,7164.0,0,0% no offer,2018,2,1,0

<p>Let's start by tackling the variables <code>center1distance</code> and <code>center2distance</code>. Although they represent the distance to center from each hotel, both were stored as strings/objects, with one decimal. We can transform them to numerical so that they can be properly used during our analysis.</p>

In [26]:
df["distance"] = df["center1distance"].str.split(" ").apply(lambda x: float(x[0]))
df["distance_alter"] = df["center2distance"].str.split(" ").apply(lambda x: float(x[0]))

<p>In the above codes, we applied <code>.str.split()</code> to split the observations using a whitespace, as values were stored as "n miles". Then, we applied <code>lambda</code>, which converts each initial value of the split value to a float.</p>

In [28]:
df[["distance", "distance_alter"]]

       distance  distance_alter
52159       6.5             9.3
52160       6.5             9.3
52161       6.5             9.3
52162       6.5             9.3
52163       6.5             9.3
...         ...             ...
61915       4.2             4.9
61916       4.2             4.9
61917       4.2             4.9
61918       4.2             4.9
61919       3.9             5.0

[8774 rows x 2 columns]

In [29]:
df[["distance", "distance_alter"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8774 entries, 52159 to 61919
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   distance        8774 non-null   float64
 1   distance_alter  8774 non-null   float64
dtypes: float64(2)
memory usage: 205.6 KB

<p>Great! Now, let's check <code>"accommodation_type</code>. All observations were stored with the prefix <code>_ACCOM_TYPE@</code>. Let's apply the procedure we've just used, with the difference that we will split values using <code>@</code> and getting hold of the value after it, and not before.</p>

In [30]:
df["accomodation_type"] = (
    df["accommodationtype"].str.split("@").apply(lambda x: x[1]).str.strip()
)

In [31]:
df["accomodation_type"]

52159        Hotel
52160        Hotel
52161        Hotel
52162        Hotel
52163        Hotel
           ...
61915        Hotel
61916        Hotel
61917        Hotel
61918        Hotel
61919    Apartment
Name: accomodation_type, Length: 8774, dtype: object

<p>We can now clean the variable <code>"price_night"</code>. We want to get hold of the number of nights that the price value refers to.</p>

In [33]:
df["nnight"] = df["price_night"].str.split(" ").apply(lambda x: int(x[2]))

<p>Here, we splitted the string using whitespace, which resulted in four substrings (ie "Price per 1 night). As we are intersted in the numeric value, we used <code>x[2]</code> to apply the lambda function.</p>
<p>Now, we can clean the variable <code>"guestreviewsrating</code>. The rating was stored as a value between 0 and 5 over its total, like 4.5/5. We just want the rating itself, hence let's split this variable like the others and convert the first value to a float.</p>

In [34]:
df["rating"] = (
    df["guestreviewsrating"]
    .str.split(" ")
    .apply(lambda x: float(x[0]) if type(x) == list else None)
)

<p>I'll now use the authors' <code>tabulate</code> function, which returns the parameter values in a tabulated form containing the frequency of observations for each rating <code>Freq.</code>, the <code>Perc.</code> (percentage) of occurrencies for each rating, as well as a cummulative sum <code>Cum</code>.</p>

In [35]:
def tabulate(series, drop_missing=False):
    """Tabulate a pandas Series and return statistical observations."""
    table = (
        pd.concat(
            [
                series.value_counts(dropna=drop_missing)
                .sort_index()
                .round(2)
                .rename("Freq."),
                series.value_counts(normalize=True, dropna=drop_missing)
                .sort_index()
                .rename("Perc."),
            ],
            axis=1
        )
        .assign(Cum=lambda x: x["Perc."].cumsum())
        .round(3)
    )
    return table

In [36]:
tabulate(df["rating"])

     Freq.  Perc.    Cum
1.0     20  0.002  0.002
1.2     23  0.003  0.005
1.3     14  0.002  0.006
1.5     10  0.001  0.008
1.6     24  0.003  0.010
1.7     12  0.001  0.012
1.8     10  0.001  0.013
2.0     54  0.006  0.019
2.2    165  0.019  0.038
2.4     82  0.009  0.047
2.5    242  0.028  0.075
2.7    295  0.034  0.108
2.9    148  0.017  0.125
3.0    515  0.059  0.184
3.2    607  0.069  0.253
3.4    306  0.035  0.288
3.5    731  0.083  0.371
3.7    837  0.095  0.467
3.9    393  0.045  0.512
4.0   1023  0.117  0.628
4.1    462  0.053  0.681
4.3    503  0.057  0.738
4.4    569  0.065  0.803
4.5    816  0.093  0.896
4.6    249  0.028  0.924
4.8    175  0.020  0.944
4.9    110  0.013  0.957
5.0     81  0.009  0.966
NaN    298  0.034  1.000

<p>Now that is a <i>great</i> function! Let's take not of a few observations:</p>